!/source/

/x64
/.vs

# Prerequisites
*.d
*.sln
*.vcxproj
*.filters
*.user
*.gitignore
*.gitattributes

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IOCPServer/x64/Debug
/NavData
/rapidjson
/Json
/.gitignore
/.gitignore
